In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
raw_data = pd.read_csv('raw_data/train.csv').iloc[:, 1:]

In [4]:
missing_values = raw_data.isnull().sum()

In [5]:
raw_data = raw_data.apply(lambda col: col.fillna(col.mode()[0]) if col.dtype == 'object' else col.fillna(col.median()))

In [6]:
if 'New_Price' in raw_data.columns:
    raw_data.drop(columns=['New_Price'], inplace=True)

In [7]:
missing_values_after = raw_data.isnull().sum()

In [9]:
print("Missing values before processing:\n", missing_values)

Missing values before processing:
 Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [10]:
print("\nMissing values after processing:\n", missing_values_after)

Missing values after processing:
 Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [11]:
df=raw_data
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,3.50

In [12]:
if 'Mileage' in raw_data.columns:
    raw_data['Mileage'] = raw_data['Mileage'].str.extract('(\d+.\d+)').astype(float)

df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199 CC,88.7 bhp,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968 CC,140.8 bhp,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461 CC,63.1 bhp,5.0,3.50

In [13]:
if 'Engine' in raw_data.columns:
    raw_data['Engine'] = raw_data['Engine'].str.extract('(\d+)').astype(float)

df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.2 bhp,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.7 bhp,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76 bhp,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.8 bhp,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.1 bhp,5.0,3.50

In [14]:
if 'Power' in raw_data.columns:
    raw_data['Power'] = raw_data['Power'].str.extract('(\d+.\d+)').astype(float)

df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [18]:
if 'Fuel_Type' in raw_data.columns and 'Transmission' in raw_data.columns:
    raw_data = pd.get_dummies(raw_data, columns=['Fuel_Type', 'Transmission'], drop_first=True)

df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [23]:
current_year = datetime.now().year
if 'Year' in raw_data.columns:
    raw_data['Car_Age'] = current_year - raw_data['Year']

print("\nColumns after adding 'Car_Age':\n", raw_data.columns)

Columns after adding 'Car_Age':
 Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type',
       'Mileage', 'Engine', 'Power', 'Seats', 'Price', 'Fuel_Type_Electric',
       'Fuel_Type_Petrol', 'Transmission_Manual', 'Car_Age'],
      dtype='object')

In [30]:
selected_data = raw_data[['Name', 'Year', 'Mileage', 'Engine', 'Power', 'Car_Age']]
print("Selected Data:\n", selected_data.head())

Selected Data:
                                Name  Year  Mileage  Engine   Power  Car_Age
0  Hyundai Creta 1.6 CRDi SX Option  2015    19.67  1582.0  126.20        9
1                      Honda Jazz V  2011      NaN  1199.0   88.70       13
2                 Maruti Ertiga VDI  2012    20.77  1248.0   88.76       12
3   Audi A4 New 2.0 TDI Multitronic  2013    15.20  1968.0  140.80       11
4            Nissan Micra Diesel XV  2013    23.08  1461.0   63.10       11

In [31]:
filtered_data = selected_data[(selected_data['Mileage'] > 15) & (selected_data['Engine'] > 1000)]
print("\nFiltered Data:\n", filtered_data.head())

Filtered Data:
                                   Name  Year  Mileage  Engine   Power  Car_Age
0     Hyundai Creta 1.6 CRDi SX Option  2015    19.67  1582.0  126.20        9
2                    Maruti Ertiga VDI  2012    20.77  1248.0   88.76       12
3      Audi A4 New 2.0 TDI Multitronic  2013    15.20  1968.0  140.80       11
4               Nissan Micra Diesel XV  2013    23.08  1461.0   63.10       11
6  Volkswagen Vento Diesel Comfortline  2013    20.54  1598.0  103.60       11

In [32]:
renamed_data = filtered_data.rename(columns={'Car_Name': 'Model', 'Car_Age': 'Age'})
renamed_data['Mileage_per_Engine'] = renamed_data['Mileage'] / renamed_data['Engine']
print("\nRenamed Data:\n", renamed_data.head())

Renamed Data:
                                   Name  Year  Mileage  Engine   Power  Age  \
0     Hyundai Creta 1.6 CRDi SX Option  2015    19.67  1582.0  126.20    9
2                    Maruti Ertiga VDI  2012    20.77  1248.0   88.76   12
3      Audi A4 New 2.0 TDI Multitronic  2013    15.20  1968.0  140.80   11
4               Nissan Micra Diesel XV  2013    23.08  1461.0   63.10   11
6  Volkswagen Vento Diesel Comfortline  2013    20.54  1598.0  103.60   11

   Mileage_per_Engine
0            0.012434
2            0.016643
3            0.007724
4            0.015797
6            0.012854

In [33]:
arranged_data = renamed_data.sort_values(by='Mileage', ascending=False)
print("\nArranged Data:\n", arranged_data.head())

Arranged Data:
                        Name  Year  Mileage  Engine  Power  Age  \
3767       Maruti Dzire VDI  2013     28.4  1248.0  73.75   11
51         Maruti Swift VDI  2013     28.4  1248.0    NaN   11
1877  Maruti Dzire ZDI Plus  2017     28.4  1248.0  73.75    7
1933       Maruti Dzire VDI  2012     28.4  1248.0  73.75   12
5354       Maruti Dzire LDI  2017     28.4  1248.0  73.75    7

      Mileage_per_Engine
3767            0.022756
51              0.022756
1877            0.022756
1933            0.022756
5354            0.022756

In [34]:
summarized_data = raw_data.groupby('Year').agg(avg_mileage=('Mileage', 'mean'), avg_engine=('Engine', 'mean')).reset_index()
print("\nSummarized Data:\n", summarized_data.head())

Summarized Data:
    Year  avg_mileage   avg_engine
0  1998    14.866667  1260.666667
1  1999    15.150000  1168.000000
2  2000    15.267500  1817.000000
3  2001    14.440000  1347.800000
4  2002    15.158333  1309.500000

In [36]:
raw_data.to_csv('processed_data/processed.csv', index=False)